<div class="header">
	<div class="header__wrapper">
		<div class="header__row">
			<div class="header__logo-box">
				<a href="/" class="header__logo"></a>
			</div>
			<div class="header__menu-box">
				<div class="header-menu">
					<header-menu></header-menu>
				</div>
			</div>
			<div class="header__profile-box">
				<div class="header-user">
					<i class="header-user__icon"></i>
					<span class="header-user__name">Константинова А.В.</span>
				</div>
				<div class="header__user-popup user-popup">
					<user-popup></user-popup>
				</div>
			</div>
			<div class="header__notif-box">
				<div class="header-notif">
					<i class="header-notif__icon"></i>
					<span class="header-notif__text">4</span>
				</div>
			</div>
		</div>
	</div>
</div>