<!DOCTYPE html>
<html>
<head>
	<title>Ренессанс</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/main.css" type="text/css">
</head>
<body>

	<style>
		body {
			background: url('img/winter.jpg') center center no-repeat; /* spring, summer, autumn, winter */
			background-size: cover;
		}
	</style>

	<div class="login-box">
		<div class="login-box__logo"></div>
		<div class="login-box__inputs">
			<div class="login-box__input-group">
				<input type="text" class="login-box__input" placeholder="Логин">
			</div>
			<div class="login-box__input-group">
				<input type="password" class="login-box__input" placeholder="Пароль">
			</div>
		</div>
		<div class="login-box__btn-box">
			<input type="button" class="btn btn-success" value="Войти в кабинет агента">
		</div>
		<div class="login-box__restore">
			<a href="#" class="login-box__restore-link">Восстановить пароль</a>
		</div>
	</div>

	<script type="text/javascript" src="js/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>