@charset "UTF-8";

// размеры
$base-wrapper-width: 1280px;
$base-content-width: 1355px;

// шрифт
$base-font-family: 'Open Sans', sans-serif;
$base-font-size: 14px;
$base-line-height: 1.2;

// цвета
$base-color: #000;